<template name="crm_top_menu">
  <style>
    @media screen and (max-width: 450px) {
      .btnNav {
        width: 90% !important;
        margin: 16px !important;
      }

      .btnOpenSettingsDesktop {
        display: none !important;
      }

      .btnOpenSettingsMobile {
        display: block !important;
        margin: 16px !important;
      }
    }

    .btn-mg {
      margin: 0 16px 24px 16px;
    }
  </style>
  <div class="row" style="padding: 0px 16px;">
    <div class="col-6 col-md-8">
      <button id="btnRefresh" class="btn btnNav btn-primary btnRefresh btn-mg" type="button">
        <i class="la la-lightbulb-o" style="margin-right: 5px;"></i>Refresh
      </button> 

      <div class="btn-group">
        <button class="btn  btn-primary btnNewTask" style="margin: 0 0 24px 16px" id="btnNewTask" type="button"
          data-toggle="modal">
          <i class="fas fa-plus" style="margin-right: 5px;"></i>New Task
        </button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" style="margin-bottom: 24px; margin-right: 16px;"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item menu_all_task">All Tasks</a>
          <a class="dropdown-item menu_today">Today</a>
          <a class="dropdown-item menu_upcoming">Upcoming</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item menu_project">Projects</a>
          <a class="dropdown-item menu_label">Label</a>
        </div>
      </div>

      <button class="btn btnNav btn-primary btnNewProject btn-mg" id="btnNewProject" type="button" data-toggle="modal"
        data-target="#newCrmProject">
        <i class="fas fa-plus" style="margin-right: 5px;"></i>New Project
      </button>
      <button class="btn btnNav btn-primary btnNewLabel btn-mg" type="button" data-toggle="modal"
        data-target="#newLabelModal">
        <i class="fas fa-plus" style="margin-right: 5px;"></i>New Label
      </button>
      <!-- <button class="btn btnNav btn-primary btnMailchimp btn-mg" id="btnMailchimp" type="button">
        <i class="fas fa-plus" style="margin-right: 5px;"></i>Mail Chimp
      </button> -->

      <div class="btn-group">
        <button class="btn  btn-primary btnMailchimp" style="margin: 0 0 24px 16px" id="btnMailchimp" type="button"
          data-toggle="modal">
          <i class="fas fa-plus" style="margin-right: 5px;"></i>Mail Chimp
        </button>
        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" style="margin-bottom: 24px; margin-right: 16px;"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" id="btnCampaign">Campaigns</a> 
          <a class="dropdown-item" id="btnCorrespondence">Correspondence</a> 
        </div>
      </div>

      <a class="btn btnNav btn-primary btn-mg" role="button" href="/leadlist">
        <i class="fas fa-users" style="margin-right: 5px;"></i>Leads
      </a>
    </div>

    <div class="col-6 col-md-4">
      <a class="btn btnOpenSettings btnOpenSettingsDesktop float-right btn-mg" role="button" data-toggle="modal"
        href="#myModal2">
        <i class="icon ion-android-more-horizontal"></i>
      </a>
      <button id="exportbtn" class="btn btnNav btn-primary float-right btn-mg" type="button">
        <i class="fas fa-file-export" style="margin-right: 5px;"></i>Export
      </button>
      <button class="btn btn-primary btnNav printConfirm float-right btn-mg" type="button">
        <i class="fa fa-print" style="margin-right: 5px;"></i>Print
      </button>
      <a class="btn btnOpenSettings btnOpenSettingsMobile float-right btn-mg" role="button" data-toggle="modal"
        href="#myModal2" style="display: none;">
        <i class="icon ion-android-more-horizontal"></i>
      </a>
    </div>
  </div>
</template>